#card-box {
    height: 500px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
}

#main-card-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipe-card {
    font-family: Arial, sans-serif;
    width: 22%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin: 1% !important;
    transition: transform 0.3s ease;
}

.recipe-card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.recipe-image {
    width: 100%;
    height: 180px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888;
}

.recipe-content {
    padding: 15px;
}

.recipe-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}